*.java       text diff=java
*.properties text
*.xml        text

*.sql 	linguist-detectable=true
*.sql 	linguist-language=sql

*.txt        text
*.md         text
*.markdown   text

*.pdf        binary
*.sh         text eol=lf

*.ico        binary
*.png        binary
*.svg        binary

*.class         binary
*.dll           binary
*.ear           binary
*.jar           binary
*.so            binary
*.war           binary
*.jks           binary

static/* 	linguist-vendored
*.js        linguist-vendored
*.css       linguist-vendored
*.html      linguist-vendored